if SHIELD_REVOLVER_LEFT

config ZMK_KEYBOARD_NAME
    default "REVOLVER"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_REVOLVER_LEFT || SHIELD_REVOLVER_RIGHT

config ZMK_SPLIT
    default y

endif